#### DS 105/305 Lab 5

In this lab, you may choose either the ice dataset from Labs 3 and 4, the names dataset from Labs 1 and 2, or some other dataset you find yourself.  Either way, your assignment in this lab is to come up with some useful visualizations of the data, which should be different than the ones we already generated in previous labs.  For example, you might use box or violin plots to show distributions along some dimension, or build interesting histograms, etc.  You might begin by looking at the matplotlib example library after choosing your dataset and reminding yourself what the dataset looks like.  All this will probably be easier to do if you make sure you start with your data in a Pandas dataframe.   

You may work in pairs on this lab - please make sure your submission email lists both contributors.

Due: by email to kebasye no later than 11:59 PM on Wednesday, March 30th

Convert dataset into Pandas Dataframe

In [10]:
import numpy as np
import pandas as pd
import csv

# put some code here to do this
entire_data = {}
year = 1880

while year <= 2010:
  with open("names/yob" + str(year) + ".txt", newline='') as f:
    year_names = {}
    reader = csv.reader(f)
    for row in reader:
        if row[0] in year_names:
            year_names[row[0]] += int(row[2])
        else:
            year_names[row[0]] = int(row[2])
    entire_data[year] = year_names
    year = year + 1
    
# put some code here to do this
all_names = list()
year = 1880

while year <= 2010:
  with open("names/yob" + str(year) + ".txt", newline='') as f:
    reader = csv.reader(f)
    for row in reader:
      all_names.append(row[0])
    year = year + 1
sorted_all_names = sorted(set(all_names))
    
# put some code here to do this
all_years = list()
for year in range(1880, 2011):
  all_years.append(year)

# put some code here to do this
extended_data = {}

for year in all_years:
    inner = {}
    for name in sorted_all_names:
        inner[name] = 0
    extended_data[year] = inner

for year in all_years:
    for name in entire_data[year]:
        extended_data[year][name] += entire_data[year][name]

# put some code here to do this
import numpy as np
import pandas as pd
namelst = list()
for names in sorted_all_names:
    namelst.append(names)
nameArray = np.array(namelst)


yearlst = list()
for num in all_years:
    yearlst.append(num)
yearArray = np.array(yearlst)

tdlst = list()
for year in yearArray:
    odlst = list()
    for name in nameArray:
        odlst.append(extended_data[year][name])
    tdlst.append(odlst)
tdArray = np.array(tdlst)
tdArray


df = pd.DataFrame(tdArray, columns = nameArray, index = yearArray)
print(df)

      Aaban  Aabid  Aabriella  Aadam  Aadan  Aadarsh  Aaden  Aadesh  Aadhav  \
1880      0      0          0      0      0        0      0       0       0
1881      0      0          0      0      0        0      0       0       0
1882      0      0          0      0      0        0      0       0       0
1883      0      0          0      0      0        0      0       0       0
1884      0      0          0      0      0        0      0       0       0
...     ...    ...        ...    ...    ...      ...    ...     ...     ...
2006      0      0          0      9      0       14     55       0       5
2007      5      0          0      8      8       13    155       0       0
2008      0      0          5      6     22       13    955       0       0
2009      6      0          0      9     23       16   1270       5       5
2010      9      0          0      7     11        0    448       0      13

      Aadhavan  ...  Zyrus  Zysean  Zyshaun  Zyshawn  Zyshon  Zyshonne  \
1880         0  ...      0       0        0        0       0         0
1881         0  ...      0       0        0        0       0         0
1882         0  ...      0       0        0        0       0         0
1883         0  ...      0       0        0        0       0         0
1884         0  ...      0       0        0        0       0         0
...        ...  ...    ...     ...      ...      ...     ...       ...
2006         0  ...      0       0        5        5       0         0
2007         0  ...      0       0        7       11       0         0
2008         0  ...      9       0        6       14       0         0
2009         0  ...      0       0        0        7       0         0
2010         5  ...      0       0        0        9       0         0

      Zytavious  Zyvion  Zyyanna  Zzyzx
1880          0       0        0      0
1881          0       0        0      0
1882          0       0        0      0
1883          0       0        0      0
1884          0       0        0      0
...         ...     ...      ...    ...
2006          7       0        0      0
2007          6       0        0      0
2008          0       0        0      0
2009          7       5        0      0
2010          6       0        6      5

[131 rows x 88496 columns]

Q2

In [5]:
# Write code to do this here - use more cells if you like

Q3

In [6]:
# Write code to do this here - use more cells if you like

Q4

In [7]:
# Write code to do this here - use more cells if you like

Q5

In [8]:
# Write code to do this here - use more cells if you like

####